<h1>D3 Line Chart Styles in {{name}}</h1>
<div class="box">
	<h1>Default</h1>
	<line-chart [linecurvestyle]="''"></line-chart>
</div>
<div class="box">
	<h1>Basis</h1>
	<line-chart [linecurvestyle]="'curveBasis'"></line-chart>
	<line-chart [linecurvestyle]="'curveBasisOpen'"></line-chart>
	<line-chart [linecurvestyle]="'curveBasisClosed'"></line-chart>
</div>
<div class="box">
	<h1>Bundle</h1>
	<line-chart [linecurvestyle]="'curveBundle'"></line-chart>
</div>
<div class="box">
	<h1>Cardinal</h1>
	<line-chart [linecurvestyle]="'curveCardinal'"></line-chart>
	<line-chart [linecurvestyle]="'curveCardinalOpen'"></line-chart>
	<line-chart [linecurvestyle]="'curveCardinalClosed'"></line-chart>
</div>
<div class="box">
	<h1>Catmull-Rom</h1>
	<line-chart [linecurvestyle]="'curveCatmullrom'"></line-chart>
	<line-chart [linecurvestyle]="'curveCatmullromOpen'"></line-chart>
	<line-chart [linecurvestyle]="'curveCatmullromClosed'"></line-chart>
</div>
<div class="box">
	<h1>Linear</h1>
	<line-chart [linecurvestyle]="'curveLinear'"></line-chart>
	<line-chart [linecurvestyle]="'curveLinearClosed'"></line-chart>
</div>
<div class="box">
	<h1>Monotone</h1>
	<line-chart [linecurvestyle]="'curveMonotoneX'"></line-chart>
	<line-chart [linecurvestyle]="'curveMonotoneY'"></line-chart>
</div>
<div class="box">
	<h1>Natural</h1>
	<line-chart [linecurvestyle]="'curveNatural'"></line-chart>
</div>
<div class="box">
	<h1>Step</h1>
	<line-chart [linecurvestyle]="'curveStep'"></line-chart>
	<line-chart [linecurvestyle]="'curveStepBefore'"></line-chart>
	<line-chart [linecurvestyle]="'curveStepAfter'"></line-chart>
</div>